######################################################
# general configuration
# path to general database configuration
db_cfg: db_config.yml
# name of target database connection as specified in
# general database configuration
tgt_db: reports@gis_db

######################################################
# environment configuration
# i.e. environments to be queried
environments:
  # arbitrary environment name, later used as value in table
  dev:
    # name of database connection to map.apps database as
    # specified in general database configuration
    ma_db: mapapps@dev
    # base url of map.apps server
    ma_base_url: https://gistest.example.com/MapApps
    # host name of ArcGIS server
    ags_host: ags.gistest.example.com
    # port of ArcGIS server (optional)
    ags_port: 443
  prod:
    ma_db: mapapps@prod
    ma_base_url: https://gis.example.com/MapApps
    ags_host: ags.gis.example.com

######################################################
# mapapps report configuration (refer to map.apps schema)
ma_src_tbl: public.apps
ma_ref_group_tbl: public.apps_sharedgroups

# target database tables (incl. schema)
ma_tgt_tbl: reports.mapapps_report
ma_tgt_search_tbl: reports.mapapps_search_report
ma_tgt_basemap_tbl: reports.mapapps_basemap_report
ma_tgt_service_tbl: reports.mapapps_service_report

# (administration level) map.apps user...
ma_user: ma_user
# ...and password
ma_pwd: ma_user_secret_pwd

######################################################
# ArcGIS Server layer report configuration

# target database table (incl. schema)
ags_tgt_table: reports.arcgis_service_report

# (administration level) server user...
ags_user: ags_user
# ...and password
ags_pwd: ags_user_secret_pwd

# list of service names to be skipped
services_to_skip:
  - SampleWorldCities
  - SynOutputService
  - DynamicMappingHost
  - AnnoyingMapService

######################################################
# Confluence configuration

# general Confluence configuration
# base url for confluence to have reports published in
cfl_base_url:  https://confluence.example.com/
# Confluence space
cfl_space: GIS
# Confluence user with publishing rights for the specified space
cfl_user: cfl_user
cfl_pwd: cfl_user_secret_pwd

# configuration for Confluence 
cfl_cfg:
  ags_service_layers:
    src_tbl: reports.arcgis_service_report
    title: ArcGIS Service Report
    # page id for the Confluence page that is
    # serving as container for the corresponding report
    # after manual creation of a page it's page id is retrievable via the *edit* link
    page_id: 43518409
    # Jinja template adjusted after extracting HTML
    # code from previously created Confluence page
    report_tpl: servicereport.html.jinja2
    sort_cols: env, svc_name
  mapapps_maps:
    src_tbl: reports.mapapps_service_report
    title: MapApps Map Report
    page_id: 158707906
    report_tpl: mapappsreport.html.jinja2
    sort_cols: env, app_title
